* text=auto eol=lf

*.cpp text eol=lf
*.hpp text eol=lf
*.h text eol=lf
*.cl text eol=lf
*.py text eol=lf
*.cmake text eol=lf
CMakeLists.txt text eol=lf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.toml text eol=lf
.clang-format text eol=lf
.clang-tidy text eol=lf
.cplignore text eol=lf
.editorconfig text eol=lf
.gitignore text eol=lf
LICENSE text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.pdf binary
*.zip binary
*.whl binary
*.a binary
*.lib binary
*.dll binary
*.so binary
*.pyd binary
*.exe binary
